<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<h1>Subir Archivo Excel</h1>
<form action="/upload" method="post" enctype="multipart/form-data">
    <input type="file" name="file" accept=".xlsx" />
    <button type="submit">Subir</button>
</form>

<table class="text-sm text-black">
    <thead>
        <tr >
            <th th:each="item : ${listar}" th:text="${item}" class="border p-2"></th>

        </tr>
    </thead>
    <tbody>
        <tr>

        </tr>
    </tbody>
</table>
</body>
</html>
